:root {
  font-size: 0.625rem;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  max-width: 144rem;  
  margin: 0 auto;
  font-family: "Roboto";   
}

#root {
  height: 100vh;  
  background-image: url("../public/assets/background.png");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;   
}

@media (max-width: 768px) {
    #root {
      background-attachment: fixed;
      height: 150rem;
    }
} 